{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>id_probe</th>
        <th>value</th>
        <th>date</th>
        <th>created(UTC+0)</th>
      </tr>
    </thead>
    <tbody>
      {% for prob in probe %}
        <tr>
            <td>{{ prob.id }}</td>
            <td>{{ prob.id_probe }}</td>
            <td>{{ prob.value }}</td>
            <td>{{ prob.date }}</td>
            <td>{{ prob.created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}